.title {
  color: white;
  font-size: 60px;
}

.page {
  background: #172142;
}

@media screen and (max-width: 600px) {
  .mat-toolbar-container {
    height: 50px !important;
    padding: 1%;
    margin: 2%;
  }
  .title {
    color: white;
    font-size: 60px;
  }
}

.mat-toolbar-container {
  height: 30px !important;
  margin: 1%;
}


.mat-toolbar-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  margin: 2%;
}

.container{
  display: flex;
  justify-content: center;
}

::ng-deep {
  .mat-toolbar {
    background: #172142 !important;
  }

}


