<mat-toolbar>
  <mat-toolbar-row>
    <span>COV1D9</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="page">
  <div class="container">
    <div class="spinner-container" *ngIf="showSpinner">
      <mat-spinner [diameter]="120" [mode]=""></mat-spinner>
    </div>
    <div class="row">
      <div class="col-12">
        <app-number-cards [chartData]="chartData" *ngIf="!showSpinner"></app-number-cards>
      </div>
      <div class="col-12">
        <app-map></app-map>
      </div>
    </div>
  </div>
</div>
