.container {
  display: flex;
  justify-content: center;
}

::ng-deep .ngx-charts {
  .cell {
    //fill: #fff !important;
    font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;

  }
  //.card{
  //  border-radius: 20px !important;
  //}
}

body {
  font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
}
