.title{
  color: white;
}

.spinner-container {
  display: flex;
  justify-content: center;
  margin-top: 50%;
}

.page {
  background: #172142;
}

.mat-toolbar-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


::ng-deep {
  .mat-toolbar {
    background: #172142 !important;
    border-bottom: solid 3px white;
  }

  .mat-progress-spinner circle, .mat-spinner circle {
    stroke: white;
  }

  .mat-button-wrapper{
    color: #172142;
  }

}


.container-home{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column-reverse;
}
