<!--<google-chart #chart-->
<!--              [title]="title"-->
<!--              [type]="type"-->
<!--              [data]="data"-->
<!--              [columnNames]="columnNames"-->
<!--              [options]="options"-->
<!--              [dynamicResize]="dynamicResize"-->
<!--              style="width: 100%; height: 100%;">-->
<!--</google-chart>-->


<div *ngIf="chartData && chartData.data">
  <google-chart #chart class="chart"
                [dynamicResize]="true"
                [type]="chartData.type"
                [data]="chartData.data"
                [options]="chartData.options"
                (select)="onSelect($event)">
  </google-chart>
</div>
