<!--<google-chart #chart-->
<!--              [title]="title"-->
<!--              [type]="type"-->
<!--              [data]="data"-->
<!--              [columnNames]="columnNames"-->
<!--              [options]="options"-->
<!--              [dynamicResize]="dynamicResize"-->
<!--              style="width: 100%; height: 100%;">-->
<!--</google-chart>-->


<div *ngIf="chart && chart.data">
  <google-chart class="chart"
                [height]="650"
                [type]="chart.type"
                [data]="chart.data"
                [options]="chart.options"
                (select)="onSelect($event)">
  </google-chart>
</div>
