::ng-deep {

  @media screen and (max-width: 600px) {
    .mat-bottom-sheet-container {
      min-height: 30vh !important;
      min-width: 100vw !important;
    }
  }


}

.text-container {
  margin-top: 4%;
}
