::ng-deep {

  @media screen and (max-width: 600px) {
    .mat-bottom-sheet-container {
      min-height: 30vh !important;
      min-width: 100vw !important;
    }
  }


}

.text-container {
  margin-top: 4%;
}

.progress-label{
  width: 40px;
  height: 20px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: -10px;
}
