<mat-nav-list>
  <div class="full-width text-container">
    <span class="text" mat-line>Stato: </span>
    <span class="text" mat-line>{{data.countryRegion}}</span>
  </div>
  <div class="full-width text-container">
    <span class="text" mat-line>Casi confermati: </span>
    <span class="text" mat-line>{{data.confirmed}}</span>
  </div>
  <div class="full-width text-container">
    <span class="text" mat-line>Guariti: </span>
    <span class="text" mat-line>{{data.recovered}}</span>
  </div>
  <div class="full-width text-container">
    <span class="text" mat-line>Deceduti: </span>
    <span class="text" mat-line>{{data.deaths}}</span>
  </div>
  <div class="full-width text-container">
    <span class="text" mat-line>Attualmente positivi: </span>
    <span class="text" mat-line>{{data.active}}</span>
  </div>
</mat-nav-list>
