::ng-deep {
  @media screen and (max-width: 600px) {
    .mat-bottom-sheet-container {
      min-height: 30vh !important;
      min-width: 100vw !important;
    }
  }

  @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    .mat-bottom-sheet-container {
      min-height: 20vh !important;
      max-height: 40vh !important;
      min-width: 80vw !important;
    }

  }

  .mat-bottom-sheet-container {
    min-height: 20vh !important;
    max-height: 50vh !important;
    min-width: 80vw !important;
  }


}

.text-container {
  margin-top: 4%;
}

.progress-label {
  width: 40px;
  height: 20px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: -10px;
}

