.instructions {
  color: black;
  font-size: 18px;
  padding-left: 16px;
}

.instructions-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mat-card{
  padding: 5px !important;
}

//@media screen and (max-width: 600px) {
//  .instructions {
//    color: black;
//    font-size: 30px !important;
//  }
//}
