/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  -webkit-text-size-adjust: none
}

body {
  margin: 0;
  font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
  background: #172142;
  position: fixed;
}


::ng-deep {

  .mat-progress-spinner circle, .mat-spinner circle {
    stroke: white;
  }

}

.full-width {
  width: 100% !important;
}

.text {
  font-size: 40px !important;
  height: 40px !important;
  margin-left: 2%;
  margin-bottom: 2%;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.material-icons.md-60 {
  font-size: 60px;
}

.material-icons.md-72 {
  font-size: 72px;
}


.instructions {
  color: black;
  font-size: 18px;
  padding-left: 16px;
}

.instructions-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mat-card {
  padding: 5px !important;
}

// iPad
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .instructions {
    color: black;
    font-size: 30px !important;
  }
}

.title {
  color: white;
  font-size: 60px;
}


.page {
  background: #172142;
}

@media screen and (max-width: 600px) {
  .mat-toolbar-container {
    height: 50px !important;
    padding: 1%;
    margin: 2%;
  }
  .title {
    color: white;
    font-size: 60px;
  }
}

.mat-toolbar-container {
  height: 30px !important;
  margin: 1%;
}


.mat-toolbar-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  margin: 2%;
}

.container {
  display: flex;
  justify-content: center;
}




