.aspect-ratio-container {
  width: 100% !important;
  height: 500px;
}

@media screen and (max-width: 600px) {
  .aspect-ratio-container {
    width: 100% !important;
    height: 500px;
    margin-left: 2%;
  }

}

::ng-deep {


  .ngx-charts {
    .cell {
      font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
    }

    .card {
      color: white !important;
    }

    rect{
      border: solid 3px white;
    }
  }
}
